$dark-primary-color: orange;
$dark-text-color: white;
$dark-text-color-second: rgba(255, 255, 255, 0.8);
$dark-background: #121213;

.dark-theme {
  background-color: $dark-background;
  color: $dark-primary-color;
  a {
    color: $dark-primary-color;
  }
  .slider {
    background-color: $dark-primary-color;
  }
  .rabbit {
    background-color: rgba(5, 3, 3, 0.5);
  }
  button {
    color: $dark-primary-color;
    background-color: rgba(62, 62, 62, 0.5);
  }
  button:hover {
    color: $dark-text-color;
    background-color: $dark-primary-color;
    opacity: 1;
  }

  a:hover {
    color: $dark-text-color;
  }
  p {
    color: $dark-text-color;
  }
  .contact {
    background-color: rgb(104, 2, 188);
  }
}
