#register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .container-register {
    background-color: rgb(255, 255, 255);

    width: 30rem;
    border: 1px solid;
    border-radius: 1rem;
  }
}

.form-control {
  padding: 0rem 4rem;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  label {
    text-align: left;
    margin: 1rem 0 0.5rem 0;
    display: block;
  }
  input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  input:focus {
    outline: 0;
    border-color: pink;
  }
}
.error-message1,
.error-message2,
.error-message3,
.error-message4 {
  text-align: left;
  color: red;
  font-size: 16px;
}
